### PyCharm ###
.idea/

## Virtual Environment ##
.venv/
venv/

## Version Contro ##
.git/
.gitignore

## Python ##
__pycache__/

## Linter / Testing Caches ##
.ruff_cache/
.pytest_cache/

## Секреты и Логи ##
.env.example
src/task_manager/logs/
*log
